@using ShamirApp.Models.Admin;
@{
    Layout = "_Admin";
}
@model List<UserView>;

<div class="p-1" style="max-width: 1000px; margin: 0 auto;">
    <div class="mt-2 mb-2" style="display: flex; justify-content: space-between;">
        <h3 class="ml-1">Управление пользователями</h3>
        <button id="newUser" class="btn btn-success">Новый пользователь</button>
    </div>
    <div class="table-responsive-sm">
        <table id="t_users" class="table table-sm table-bordered text-center middle table-hover">
            @{
                if (Model.Count > 0)
                {
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Login</th>
                            <th>Password</th>
                            <th>FIO</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                }
                else
                {
                    <thead class="d-none">
                        <tr>
                            <th>Id</th>
                            <th>Login</th>
                            <th>Password</th>
                            <th>FIO</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                }
            }
            <tbody>
                @{
                    foreach (var row in Model)
                    {
                        <tr>
                            <td>@row.Id</td>
                            <td>@row.Login</td>
                            <td>@row.Password</td>
                            <td>@row.FIO</td>
                            <td>
                                <button class="mt-1 mb-1 btn btn-sm btn-info btn-block" onclick="editUser('@row.Id')">Редактировать</button>
                                <button class="mt-1 mb-1 btn btn-sm btn-danger btn-block" onclick="deleteUser('@row.Id')">Удалить</button>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
    <div class="modal fade" id="usermodal">
        <div class="modal-dialog m-2 mx-auto" style="max-width: 1000px;" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="ModalTitle">Новый пользователь</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">✕</span>
                    </button>
                </div>
                <form id="newUserForm">
                    <div class="modal-body">
                        <div class="mb-3">
                            <label for="input-login" class="form-label">Логин</label>
                            <input type="text" class="form-control" id="input-login" required>
                        </div>
                        <div class="mb-3">
                            <label for="input-password" class="form-label">Пароль</label>
                            <input type="text" class="form-control" id="input-password" required>
                        </div>
                        <div class="mb-3">
                            <label for="input-fio" class="form-label">ФИО</label>
                            <input type="text" class="form-control" id="input-fio">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Добавить</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
